{% extends "pages/c_cipher/c_base.html" %}
{% load i18n %}

{% block title %}Crescent Cipher{% endblock title %}
{% block header_title %}Crescent Cipher{% endblock header_title %}

{% block content %}
<p>
    The Crescent Cipher is an homage to the brilliant puzzles offered by <a href="http://adventofcode.com" class="text-primary">adventofcode.com</a>.
    <br>
    For those unfamiliar, Advent of Code is an annual event where participants solve a series of programming puzzles during the month of 
    December around the theme of Christmas.
    <br>
    My aim is to create a similar experience, but with a focus on the annual event being the Muslim holy month of Ramadan.
    <br>
    while, each day during Ramadan, a new puzzle will be released, the aim is to keep the challenges simple enough that they are not too taxing for those
    who may be fasting during the day.
    <br>
    The puzzles can be solved using any programming language, and should be beginner friendly.
    You only really need basic programming knowledge to get started. Here's a useful <a href="https://codefez.github.io/page/python_cheatsheet.html" class="text-primary">Python cheatsheet</a>.
</p>
<p>
    There will be puzzles for the first 20 days of Ramadan. The last 10 days will not include any puzzles, as I want to give participants time 
    to focus on their spiritual practices during this blessed period.
</p>
<p>
    With AI being so prevalent, I am not sure there's any point including a leaderboard or competitive aspect to the puzzles. Do them for fun!
</p>
{% endblock content %}
