{% extends "pages/c_cipher/c_base.html" %}
{% load i18n %}

{% block title %}Crescent Cipher{% endblock title %}
{% block header_title %}Crescent Cipher{% endblock header_title %}

{% block content %}
<p>
    The Crescent Cipher is an homage to the brilliant puzzles offered by <a href="http://adventofcode.com" class="text-primary">adventofcode.com</a>.
    <br>
    For those unfamiliar, Advent of Code is an annual event where participants solve a series of programming puzzles during the month of 
    December around the theme of Christmas.
    <br>
    My aim is to create a similar experience, but with a focus on the annual event being the Muslim holy month of Ramadan.
    <br>
    while, each day during Ramadan, a new puzzle will be released, the aim is to keep the challenges simple enough that they are not too taxing for those
    who may be fasting during the day.
    <br>
    The puzzles can be solved using any programming language, and should be beginner friendly.
    You only really need basic programming knowledge to get started. Here's a useful <a href="https://codefez.github.io/page/python_cheatsheet.html" class="text-primary">Python cheatsheet</a>.
</p>
<p>
    There will be puzzles for the first 20 days of Ramadan. The last 10 days will not include any puzzles, as I want to give participants time 
    to focus on their spiritual practices during this blessed period.
</p>
<p>
    With AI being so prevalent, I am not sure there's any point including a leaderboard or competitive aspect to the puzzles. Do them for fun!
</p>

<hr class="my-8" />
<h2 class="text-xl font-bold my-2">{% translate "Other Misc Details" %}</h2>

<h3 class="text-lg font-bold" id="beacen_mosque">{% translate "The Bright Beacen Mosque" %}</h3>
<p>
    The Bright Beacen Mosque is a fictional mosque that serves as the setting for the puzzles. 
    Based in the UK, the name "Beacen" is the old English word for "beacon", which is a light that guides people to safety.
    I chose this name to reflect the idea that Islam has been a part of British history for centuries and that Islam is considered 
    by Muslims to be a source of guidance and light in their lives.
    <br>
    While the first purpose-built mosque in the UK is generally considered to be the 
    <a href="https://en.wikipedia.org/wiki/Shah_Jahan_Mosque,_Woking" class="text-primary">Shah Jahan Mosque in Woking</a>, 
    which was completed in 1889, there is evidence of Islamic influence from as far back as the 8th century in the form of 
    coins minted during the reign of <a href="https://en.wikipedia.org/wiki/Offa_of_Mercia#Coinage" class="text-primary">The Anglo-Saxon king, Offa of Mercia</a>, 
    inscripted with the words "محمد رسول ﷲ", Muhammad, the messenger of God.
</p>
{% endblock content %}
