{% load static i18n %}
<ul class="menu menu-horizontal bg-base-200 rounded-box">
    <li><a href="{% url 'c_cipher:c_about' %}">About</a></li>
    <!-- <li><a>All Puzzles</a></li> -->
    {% if request.user.is_authenticated %}
        <li class="join join-horizontal">   
            <div class="join-item">
                {{user.username}} 
            </div>
            <div class="tooltip join-item" data-tip="Current Ramadan Score">
                <i class="fa-solid fa-star fa-sm" style="color: #FFD43B;"></i>{{year_score}} 
            </div>
            {% comment %} <div class="tooltip join-item" data-tip="Total Score Across All Ramadans">
                <i class="fa-solid fa-moon fa-sm" style="color: #616161;"></i>{{total_score}} 
            </div> {% endcomment %}
        </li>
        <li>
            <a class="" href="{% url 'account_logout' %}">
                {% translate "Sign Out" %}
            </a>
        </li>
    {% else %}
        <li><a href="{% url 'account_signup' %}">Sign Up</a></li>
        <li><a href="{% url 'account_login' %}">Log In</a></li>
    {% endif %}
  
</ul>