<tr id="input-form-row">
  <th>
    <div class="flex justify-center gap-0">
      <form id="submitForm"
            hx-post="{% url 'cows_bulls:cb_index' %}"
            hx-target="#clues-table-body"
            hx-swap="outerHTML"
            hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
            onsubmit="return checkSubmissionStatus(this)"
            class="flex justify-center gap-1"
            autocomplete="off">
        <input type="hidden" name="cba_id" value="{{ ocb.id }}">
        {% csrf_token %}
      
        {% for i in "01234" %}
          <input type="text"
                 name="digit{{ forloop.counter }}"
                 maxlength="1"
                 pattern="[0-9]"
                 title="Single digit only"
                 required
                 autocomplete="off"
                 inputmode="numeric"
                 class="w-10 h-12 bg-white text-neutral text-2xl font-mono text-center rounded-box border border-neutral focus:outline-none focus:ring-2 focus:ring-primary digit-input"
          />
        {% endfor %}
    </div>
  </th>
  <td>
    <button type="submit" class="btn btn-success mt-2 sm:mt-0">Submit</button>
  </td>
  </form>
</tr>