{% extends "base.html" %}
{% load static i18n %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/guessle.css' %}">
    {%load word_tags%}
{% endblock %}
{% block content %}

<div class="container d-flex flex-column align-items-center justify-content-between h-100 w-100 navbar navbar-dark bg-dark" aria-label="Dark offcanvas navbar" x-data="{ guess_xmodel: '', guess_1_xmodel:'{{guess_formset.0.guess.value|default_if_none:""}}', guess_2_xmodel:'{{guess_formset.1.guess.value |default_if_none:""}}', guess_3_xmodel:'{{guess_formset.2.guess.value|default_if_none:""}}', guess_4_xmodel:'{{guess_formset.3.guess.value|default_if_none:""}}',guess_5_xmodel:'{{guess_formset.4.guess.value|default_if_none:""}}', guess_6_xmodel:'{{guess_formset.5.guess.value|default_if_none:""}}', attempts_left_xmodel:'{{form.attempts_left.value|default_if_none:0}}', attempt_number_xmodel:'{{form.attempt_number.value|default_if_none:0}}', show_error: false, my_modal:''}">
    <div id="modal_placeholder"></div>
    <div class="container-fluid" style="max-height:100px;overflow:auto;">
        <div class="col-2">
            <!-- Left side icons -->
            <a class="navbar-brand mx-1" href="{% url 'game:home' %}"> <img class="navbar-logo" src="{% static 'images/logo.svg' %}" alt=""> </a>
            <a class="btn btn-link mx-1 px-0 text-danger" hx-get='{% url "game:support" %}' hx-target="#modal_placeholder" hx-trigger="click" @htmx:after-on-load.camel="setTimeout(function() { my_modal=new bootstrap.Modal($refs.modaldiv);my_modal.show()},100)"> <i class="nav-icon bi bi-heart-fill"></i></a>
        </div>
        
        <div class="col-6">
            <!-- Title -->
            <div class="d-flex flex-row justify-content-center text-light">
                <h1 class="text-uppercase">
                    {{ request.site.name }} About, Help and FAQs
                </h1>
            </div>
        </div>
        <div class="col-2 d-flex m-0 p-0 flex-row-reverse">
            <!-- Right side icons -->
            <button class="navbar-toggler mx-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbarDark" aria-controls="offcanvasNavbarDark" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon nav-icon"></span>
            </button>
            <a class="btn btn-link" hx-get='{% url "game:results" %}' hx-target="#modal_placeholder" hx-trigger="click" @htmx:after-on-load.camel="setTimeout(function() {results_modal=new bootstrap.Modal($refs.resultsdiv);results_modal.show()},100)"><i class="nav-icon bi bi-bar-chart-line-fill" ></i></a>
        </div>
        {% include "navbar.html" %}
      </div>
  
    <div class="row my-1 align-items-start no-gutters justify-content-center border-bottom w-100">
        <!-- Site title & top bar -->
        
        
    </div>
    <div class="row flex-grow-1 justify-content-start align-items-center">


    </div>
</div>
