{% load static i18n %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/guessle.css' %}">
    <script src="{% static 'js/project.js' %}"></script>
    {%load word_tags%}
{% endblock %}
{% if stars %}
    <div class="row mb-0">
        {% if stars.stars == 0 %}
        <p class="text-center daily_stars_text">Daily Stars: <i class="bi bi-star text-warning "></i><i class="bi bi-star text-warning"></i><i class="bi bi-star text-warning" ></i></p>
        {% elif stars.stars == 1 %}
        <p class="text-center daily_stars_text">Daily Stars: <i class="bi bi-star-fill text-warning " ></i><i class="bi bi-star text-warning " ></i><i class="bi bi-star text-warning " ></i></p>
        {% elif stars.stars == 2 %}
        <p class="text-center daily_stars_text">Daily Stars: <i class="bi bi-star-fill text-warning "></i><i class="bi bi-star-fill text-warning " ></i><i class="bi bi-star text-warning " ></i></p>
        {% elif stars.stars == 3 %}
        <p class="text-center daily_stars_text">Daily Stars: <i class="bi bi-star-fill text-warning " ></i><i class="bi bi-star-fill text-warning " ></i><i class="bi bi-star-fill text-warning " ></i></p>
        {% endif %}
        
        <p>

        </p>
    </div>
    
{% endif %}
