{% extends "base.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/wordle.css' %}">
{% endblock %}
{% block content %}

<div id="load-container">
    <h1>WORDLE</h1>
    <button onclick="showHide();">PLAY</button>
</div>

<div id="game-container">
    <div id="score">Score :</div>
    <div id="game" class="game">
        <h1>WORDLE</h1>
        <div id="grid"></div>
        <div id="message">&nbsp;</div>
    </div>
</div>

{% endblock content %}

{% block javascript %}
    <script type="text/javascript" src="/static/js/wordle.js"></script>
{% endblock javascript %}