#clues-table-body {
    transition: background-color 0.5s;
}
.htmx-swapping #clues-table-body {
    background-color: yellow;
}
.htmx-settling #clues-table-body {
    background-color: lightgreen;
}

.toast {
    transition: all 0.3s ease;
}

.toast-enter {
    opacity: 0;
    transform: translateX(100%);
}

.toast-exit {
    opacity: 0;
    transform: translateY(-20px);
}