{% load static i18n %}
<div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasNavbarDark" aria-labelledby="offcanvasNavbarDarkLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasNavbarDarkLabel">Menu</h5>
    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'game:home' %}">
          <button class="btn btn-warning">Home / Daily Main challenge</button>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'game:easy' %}">
          <button class="btn btn-primary">Daily Easy Guessle</button>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'game:hard' %}">
          <button class="btn btn-danger">Daily Hard Guessle <br>(for supporters)</button>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'c_cipher:c_index' %}"><img width="20px" src="{% static 'images/favicons/c_cipher_favicon.ico' %}">
          Play The Crescent Cipher
          <span class="badge text-bg-info">New</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'tangle:tangle_index' %}"><img width="20px" src="{% static 'images/favicons/tw_favicon.ico' %}">
          Play Daily Tangle
          <span class="badge text-bg-secondary">New</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'game:supporterredirect' %}">About, Help and FAQs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'game:history' %}">Previous Guessles</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'game:hof' %}">Hall of Fame</a>
      </li>
      {% if request.user.is_authenticated %}
        <li class="nav-item">
            {# URL provided by django-allauth/account/urls.py #}
            <a class="nav-link" href="{% url 'users:detail' request.user.username  %}">{% translate "My Profile" %}</a>
        </li>
        {% if request.user.student %}
          <li class="nav-item">
              <a class="nav-link" href="">{% translate "Student Page" %}</a>
          </li>
        {% endif %}
        <li class="nav-item">
          {# URL provided by django-allauth/account/urls.py #}
          <a class="nav-link" href="{% url 'account_logout' %}">{% translate "Sign Out" %}</a>
        </li>
      {% else %}
        {% if ACCOUNT_ALLOW_REGISTRATION %}
          <li class="nav-item">
          {# URL provided by django-allauth/account/urls.py #}
          <a id="sign-up-link" class="nav-link" href="{% url 'account_signup' %}?next={{ request.path }}">{% translate "Sign Up" %}</a>
          </li>
        {% endif %}
        <li class="nav-item">
            {# URL provided by django-allauth/account/urls.py #}
          <a id="log-in-link" class="nav-link" href="{% url 'account_login' %}?next={{ request.path }}">{% translate "Sign In" %}</a>
        </li>
      {% endif %}

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Policies
        </a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="{% url 'game:disclaimer' %}">Disclaimer</a></li>
          <li><a class="dropdown-item" href="{% url 'game:privacy_policy' %}">Privacy Policies</a></li>
          <li><a class="dropdown-item" href="{% url 'game:tsandcs' %}">Terms & Conditions</a></li>
        </ul>
      </li>
      <li class="nav-item">
        <a href="https://codefez.github.io/" class="nav-link" target="_blank" > <img class="avatar" src="https://avatars.githubusercontent.com/u/5003973?s=96&v=4" height="40px" alt=""> Learn to codefez!</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'teacher_resources:res_page' %}">{% translate "Codefez Computing Resources" %}</a>
      </li>
      <li>
        <a href="https://twitter.com/oneshotguessle" target="_blank"><i class="bi bi-twitter-x" style="font-size: 2rem;"></i></a>
      </li>
      <li>
        <a class="btn btn-link mx-1 px-0 text-light" hx-get='{% url "game:shareto" %}' hx-target="#modal_placeholder" hx-trigger="click" @htmx:after-on-load.camel="setTimeout(function() { my_modal=new bootstrap.Modal($refs.modaldiv);my_modal.show()},100)"><i class="bi bi-share-fill"></i> Share {{request.site.name}} </a>
      </li>
      <li>
        <a href="https://ko-fi.com/oneshotguessle" target="_blank" > <img src="https://storage.ko-fi.com/cdn/brandasset/kofi_s_tag_dark.png" height="50px" alt=""> </a>
      </li>
    </ul>
  </div>
</div>