{% load scrabble_tags %}
{% load static i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="https://cdn.tailwindcss.com?plugins=forms"></script>
  <link href="https://cdn.jsdelivr.net/npm/daisyui@latest/dist/full.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="{% static 'css/tangle.css' %}">
  <script src="https://unpkg.com/htmx.org@1.9.10"></script>
  <title>Daily Word Tangle #{{ tangle.id }}</title>
  
</head>
<body class="min-h-screen flex flex-col items-center justify-center p-4">

  <div class="card bg-base-300 w-full max-w-lg">
    <div class="card-body p-4">

      <div class="navbar bg-base-100 shadow-sm relative z-20">
        <div class="navbar-start">
          <div class="avatar">
              <div class="w-14 rounded">
                <a href="/tangle"><img src="{% static 'images/tangle_words_logo.png' %}" /></a>
              </div>
            </div>
          
        </div>
        <div class="navbar-center">
          
          <h1 class="card-title text-2xl font-bold mb-2 text-center p-2">
            <a href="/tangle">Daily Word Tangle #{{ tangle.id }}</a>
          </h1>

        </div>
        <div class="navbar-end">
          <!-- help modal -->
          <button onclick="tangle_help_modal.showModal()" class="btn btn-ghost btn-circle">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="h-5 w-5" fill="fill-primary" stroke="currentColor"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path d="M464 256A208 208 0 1 0 48 256a208 208 0 1 0 416 0zM0 256a256 256 0 1 1 512 0A256 256 0 1 1 0 256zm169.8-90.7c7.9-22.3 29.1-37.3 52.8-37.3l58.3 0c34.9 0 63.1 28.3 63.1 63.1c0 22.6-12.1 43.5-31.7 54.8L280 264.4c-.2 13-10.9 23.6-24 23.6c-13.3 0-24-10.7-24-24l0-13.5c0-8.6 4.6-16.5 12.1-20.8l44.3-25.4c4.7-2.7 7.6-7.7 7.6-13.1c0-8.4-6.8-15.1-15.1-15.1l-58.3 0c-3.4 0-6.4 2.1-7.5 5.3l-.4 1.2c-4.4 12.5-18.2 19-30.6 14.6s-19-18.2-14.6-30.6l.4-1.2zM224 352a32 32 0 1 1 64 0 32 32 0 1 1 -64 0z"/></svg>
          </button>
          {% if request.user.is_authenticated %}
          <div class="dropdown">
            <div tabindex="0" role="button" class="btn btn-ghost btn-circle">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"> <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h7" /> </svg>
            </div>
            
            <ul tabindex="0" class="menu menu-sm dropdown-content bg-base-100 rounded-box z-30 mt-3 w-52 p-2 shadow">
              <li><a>Homepage</a></li>
              <li><a>Portfolio</a></li>
              <li><a>About</a></li>
            </ul>
          </div>
          {% else %}
              
            {# URL provided by django-allauth/account/urls.py #}
            <a id="log-in-link" class="btn btn-ghost btn-circle text-primary" href="{% url 'account_login' %}">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="h-5 w-5" fill="fill-primary" stroke="currentColor"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path d="M217.9 105.9L340.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L217.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1L32 320c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM352 416l64 0c17.7 0 32-14.3 32-32l0-256c0-17.7-14.3-32-32-32l-64 0c-17.7 0-32-14.3-32-32s14.3-32 32-32l64 0c53 0 96 43 96 96l0 256c0 53-43 96-96 96l-64 0c-17.7 0-32-14.3-32-32s14.3-32 32-32z"/></svg>
            </a>
          {% endif %}
          
        </div>
      </div>
      

      {% block content %}{% endblock content %}
</body>
</html>
