{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}
{% load crispy_forms_tags %}
{% load static %}

{% block head_title %} {% translate "Sign In" %}{% endblock %}

{% block inner %}

<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card border-0 shadow rounded-3 my-5">
        <div class="card-body p-4 p-sm-5">
          <div class="relative w-64 h-48">
            <div class="text-center">
              <div class="position-relative d-inline-block" style="width: 130px; height: 80px;">
                <!-- Bottom logo - circular -->
                <img src="{% static 'images/logo.svg' %}" alt="Logo 1"
                    class="position-absolute start-0 top-50 translate-middle-y rounded-circle border border-white shadow"
                    style="width: 80px; height: 80px; object-fit: cover;">

                <!-- Overlapping top-right logo - circular -->
                <img src="{% static 'images/tangle_words_logo.png' %}" alt="Logo 2"
                    class="position-absolute top-50 translate-middle-y rounded-circle border border-white shadow"
                    style="left: 64px; width: 80px; height: 80px; object-fit: cover;">
              </div>
            </div>

          <!-- <img class="d-block mx-auto mb-4 d-none d-sm-block" src="{% static 'images/logo.svg' %}" alt="" width="80" height="80"> -->

          <h5>{% translate "Sign In" %}</h5>

          {% get_providers as socialaccount_providers %}

          {% if socialaccount_providers %}
            <p>
              {% translate "Please sign in with one of your existing third party accounts:" %}
              {% if ACCOUNT_ALLOW_REGISTRATION %}
                {% blocktranslate trimmed %}
                  Or, <a href="{{ signup_url }}">sign up</a>
                  for a {{ site_name }} account and sign in below:
                {% endblocktranslate %}
              {% endif %}
            </p>

            <div class="socialaccount_ballot ">

              <div class="socialaccount_providers d-flex justify-content-center">
                {% include "socialaccount/snippets/provider_list.html" with process="login" %}
              </div>

              <div class="login-or">{% translate "or" %}</div>

            </div>

            {% include "socialaccount/snippets/login_extra.html" %}

          {% else %}
            {% if ACCOUNT_ALLOW_REGISTRATION %}
              <p>
                {% blocktranslate trimmed %}
                  If you have not created an account yet, then please
                  <a href="{{ signup_url }}">sign up</a> first.
                {% endblocktranslate %}
              </p>
            {% endif %}
          {% endif %}


            <form class="login" method="POST" action="{% url 'account_login' %}">
              {% csrf_token %}
              {{ form|crispy }}
              {% if redirect_field_value %}
              <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
              {% endif %}
              <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% translate "Forgot Password?" %}</a>
              <button class="primaryAction btn btn-primary" type="submit">{% translate "Sign In" %}</button>
            </form>
          </div>
        </div>
      </div>
    </div>
</div>    



{% endblock %}
