<div id="modal" class="modal" x-ref="modaldiv" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">How to play {{request.site.name}}?</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <ol class="list-group list-group-numbered list-group-flush">
                <li class="border-0 list-group-item d-flex align-items-start"><div class="container">You have one chance or<i> one shot</i> to guess the random word <i> or Guessle</i> of the day</div></li>
                <li class="border-0 list-group-item d-flex align-items-start"><div class="container">There are 5 clues to help you guess the day's random guessle</div></li>
                <li class="border-0 list-group-item d-flex align-items-start"><div class="container">Type the word and press enter to submit the guess</div></li>
                <li class="border-0 list-group-item d-flex align-items-start">
                    <div class="container m-0 p-0">
                        <div class="container">Each of the 5 clues have their letters coloured to help you guess the Guessle of the day</div>
                        <div class="container mt-1 pt-1 mb-0 pb-0 d-flex d-grid justify-content-center">
                            <input style="height:50px;width:50px;" value = "W" class="text-light bg-secondary form-control fw-bold text-center" size="1">
                            <input style="height:50px;width:50px;" value = "O" class="text-light bg-success form-control fw-bold text-center" size="1">
                            <input style="height:50px;width:50px;" value = "R" class="text-light bg-secondary form-control fw-bold text-center" size="1">
                            <input style="height:50px;width:50px;" value = "D" class="text-light bg-secondary form-control fw-bold text-center" size="1">
                            <input style="height:50px;width:50px;" value = "S" class="text-light bg-warning form-control fw-bold text-center" size="1">
                        </div>
                    </div>
                </li>
                <li class="border-0 list-group-item d-flex align-items-start"><div class="container"> Orange indicates the letter is present in target word but not in the same location</div></li>
                <li class="border-0 list-group-item d-flex align-items-start"><div class="container"> Green indicates the letter is present in target word in the same location</div></li>
                <li class="border-0 list-group-item d-flex align-items-start"><div class="container"> Gray indicates letter is not present in target word</div></li>
                <li class="border-0 list-group-item d-flex align-items-start"><div class="container"> There are 3 stars to collect every day. There is the main game, the easy edition and a special harder game for members who are supporters on <a href="https://ko-fi.com/oneshotguessle" target="_blank">Ko-Fi <img src="https://storage.ko-fi.com/cdn/brandasset/kofi_s_logo_nolabel.png" width="32" height="32" alt=""> </a></div></li>
                <li class="border-0 list-group-item d-flex align-items-start"><div class="container"> The streak is currently only based on the main game and not the easy and hard daily Guessles </div></li>
            </ol>
        </div>
      </div>
    </div>
  </div>