{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container d-flex flex-column align-items-center justify-content-between h-100 w-100 navbar navbar-dark bg-dark" aria-label="Dark offcanvas navbar" x-data="{ guess_xmodel: '', guess_1_xmodel:'{{guess_formset.0.guess.value|default_if_none:""}}', guess_2_xmodel:'{{guess_formset.1.guess.value |default_if_none:""}}', guess_3_xmodel:'{{guess_formset.2.guess.value|default_if_none:""}}', guess_4_xmodel:'{{guess_formset.3.guess.value|default_if_none:""}}',guess_5_xmodel:'{{guess_formset.4.guess.value|default_if_none:""}}', guess_6_xmodel:'{{guess_formset.5.guess.value|default_if_none:""}}', attempts_left_xmodel:'{{form.attempts_left.value|default_if_none:0}}', attempt_number_xmodel:'{{form.attempt_number.value|default_if_none:0}}', show_error: false, my_modal:''}">
  <div id="modal_placeholder"></div>
  <div class="container-fluid" style="max-height:100px;overflow:auto;">
    <div class="col-2">
      <!-- Left side icons -->
      <a class="navbar-brand mx-1" href="{% url 'game:home' %}"> <img class="navbar-logo" src="{% static 'images/logo.svg' %}" alt=""> </a>
      <a class="btn btn-link mx-1 px-0 text-danger" hx-get='{% url "game:support" %}' hx-target="#modal_placeholder" hx-trigger="click" @htmx:after-on-load.camel="setTimeout(function() { my_modal=new bootstrap.Modal($refs.modaldiv);my_modal.show()},100)"> <i class="nav-icon bi bi-heart-fill"></i></a>
    </div>
      
    <div class="col-6">
      <!-- Title -->
      <div class="d-flex flex-row justify-content-center text-light">
        <h1 class="text-uppercase">
          {{ request.site.name }} Previous {% if difficulty %}{{difficulty}} {% endif %} Guessles
        </h1>
      </div>
    </div>
    <div class="col-2 d-flex m-0 p-0 flex-row-reverse">
      <!-- Right side icons -->
      <button class="navbar-toggler mx-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbarDark" aria-controls="offcanvasNavbarDark" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon nav-icon"></span>
      </button>
      <a class="btn btn-link mx-0 px-0" hx-get='{% url "game:help" %}' hx-target="#modal_placeholder" hx-trigger="click" @htmx:after-on-load.camel="setTimeout(function() { my_modal=new bootstrap.Modal($refs.modaldiv);my_modal.show()},100)"> <i class="nav-icon bi bi-question-circle"></i></a>
      <a class="btn btn-link" hx-get='{% url "game:results" %}' hx-target="#modal_placeholder" hx-trigger="click" @htmx:after-on-load.camel="setTimeout(function() {results_modal=new bootstrap.Modal($refs.resultsdiv);results_modal.show()},100)"><i class="nav-icon bi bi-bar-chart-line-fill" ></i></a>
    </div>
    {% include "navbar.html" %}
  </div>

    <div class="alert alert-secondary" role="alert">
      You can play previous puzzles and they will count towards your overall stats and Hall of Fame eligibility, but they won't be included in the daily streak calculation. The daily streak only counts playing the current day's puzzle.
      <br>Previous guessles only list the regular game and not the easy and hard modes, so if you want to play those modes you will need to play on the day!
    </div>

    <div id="page-section" hx-get="?page=1{% if difficulty %}&difficulty={{ difficulty }}{% endif %}" hx-trigger="load" hx-swap="outerHTML">
      <table class="table table-dark table-striped">
        <thead>
          <tr class="table-dark">
            <th scope="col">Guessle #</th>
            <th scope="col">Play</th>
            <th scope="col">Clue 1</th>
            <th scope="col">Clue 2</th>
            <th scope="col">Clue 3</th>
            <th scope="col">Clue 4</th>
            <th scope="col">Clue 5</th>
            <th scope="col">🌍 % correct</th>
          </tr>
        </thead>
        <tbody>
          <noscript>
            {% for guessle in guessles %}
                <tr>
                    <th scope="row" class="table-dark">#{{ guessle.puzzle_number }} - {{ guessle.date|date:"D d M Y" }}</th>
                    <td class="table-dark">
                      {% if user.is_authenticated and guessle.attempted %}
                        <span class="badge bg-secondary">Played</span>
                      {% else %}
                            <a class="btn btn-sm btn-primary" href="{% url 'game:play' guessle.puzzle_number %}">Play</a>
                      {% endif %}
                    </td>
                    <td class="table-dark">{{ guessle.clue1 }}</td>
                    <td class="table-dark">{{ guessle.clue2 }}</td>
                    <td class="table-dark">{{ guessle.clue3 }}</td>
                    <td class="table-dark">{{ guessle.clue4 }}</td>
                    <td class="table-dark">{{ guessle.clue5 }}</td>
                    <td class="table-dark">{{ guessle.per }}%</td>
                </tr>
            {% endfor %}
          </noscript>
        </tbody>
      </table>
    </div>
{% endblock content %}