{% load social_share %}

<div id="modal" class="modal" x-ref="modaldiv" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title"><i class="bi bi-share-fill"></i> Share the {{request.site.name}} fun!</h3>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="container">
            
            
            <p>{% post_to_facebook 'http://oneshotguessle.com' %}</p>
            
            <p>

               

            </p>
          </div>
          
        </div>
      </div>
    </div>
  </div>

  